<div class="links">
  <a class="links__item" href="https://github.com/AndVer00" target="_blank" rel="noopener">GitHub</a>
  <a class="links__item" href="https://t.me/Angwar1" target="_blank" rel="noopener">Telegram</a>
  <a class="links__item" href="https://discordapp.com/users/477219835483521038/" target="_blank" rel="noopener">Discord</a>
</div>