<a href="/" class="logo"><img class="logo-img" src="assets/logo.png" alt="logo"></a>
<h1 class="title">Random AF Store</h1>
<div class="login-bar">
  {{> user_not_logged }}
</div>
<div class="utility-bar">
  <nav class="utility-bar__nav">
    <a href="reviews" class="utility-bar__nav-item">Отзывы</a>
    <a href="cart" class="utility-bar__nav-item">Корзина</a>
    <a href="account" class="utility-bar__nav-item">Личный кабинет</a>
  </nav>
</div>