<div class="preloader"></div>
<div class="error">⚠ Что-то пошло не так</div>
<div class="all-reviews">
  <div class="all-review-list-title"> <button class="previous-button"><--</button>Некоторые случайные отзывы о нашей компании:<button class="next-button">--></button></div>
  <div class="all-review-list"></div>
</div>