<div class="reviews">
  <div class="reviews__header">Можете оставить отзыв о нашем магазине:</div>
  <form class="reviews__form">
    <label>
      <input class="reviews__form-input" type="text"/>
    </label>
    <button class="reviews__form-button">Отправить</button>
  </form>
  <div class="reviews__container"></div>
  <div class="reviews__reference">
    <p class="reviews__reference-text">
      Также вы можете посмотреть <a href="reviews-all" class="utility-bar__nav-item">отзывы других пользователей</a>
    </p>
  </div>
</div>