<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    {{> shared_bundles }}
    {{> shared_scripts }}
    <script src="scripts/loadTime.js"></script>
    <title>Web программирование</title>
  </head>

  <body>
    <header class="header">
      {{> header }}
    </header>

    <main class="main">
      <div id="load_test"></div>
      <div class="server_load_test">Current Server load time is {{ time }} ms</div>
    </main>
  </body>
</html>