<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Web программирование</title>
    {{> shared_bundles }}
    {{> shared_scripts }}
  </head>

  <body>
    <header class="header">
      {{> header }}
    </header>

    <main class="main">
      {{> menu}}
    </main>

    <footer class="footer">
      {{> footer }}
    </footer>
  </body>

  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
  <script src=”https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="scripts/contentLoad.js"></script>
</html>