<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Web программирование</title>
    {{> shared_bundles }}
    {{> shared_scripts }}
  </head>

  <body>
    <header class="header">
      {{> header }}
    </header>

    <main class="main">

    </main>

  </body>
</html>